html( lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        link(rel="stylesheet" href="/css/reset.css")
        //- link(rel="stylesheet" href="/css/estilo.css")
        link(rel="stylesheet" href="/css/responsive.css")
        link(rel="stylesheet" href="/css/scroll.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet")
        link(href="/css/app.css" rel="stylesheet")
        link(href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet")
        script(src="https://kit.fontawesome.com/0c888458ab.js" crossorigin="anonymous")
        title Thiago Tula | #{pagina}

    body(class="w-full h-full")
        div(class="w-full h-full overflow-x-hidden bg-slate-100")
            block contenido 
            
        block script 