extends ../index.pug

block contenido
    main(class="layaut__content")
        section(class="content__page")
            h1(class="page__name") Thiago Tula
            h3(class="page__job") Desarrollador web
            
        
    