extends ../index.pug

block contenido
    main(class="layaut__content")
        section(class="content__page content__about")
            header(class="about__header")
                h1(class="about__title") Sobre
                    span(class="title__color") Mi

            section(class="about__personal-info")
                article(class="personal-info__bio")
                    p(class="personal-info__description") ¡Hola! Soy Thiago Tula. Tengo 20 años, soy desarrollador de software con un enfoque en el desarrollo de paginas y aplicaciones web. Comencé en la programación adquiriendo conocimientos en el area de diseño con herramientas como Figma, luego aprendí codigo front end usando HTML, CSS, Tailwind.css, Bootstrap, JavaScript y React. Desde entonces he ampliado mis conocimientos para abarcar tecnologías del lado del servidor con Node.js y Express.js. Además, tengo conocimientos solidos en manejo de bases de datos como MongoDB y MySQL creando paginas web dinamicas y Api REST, y solidos conocimientos en Git y GitHub.  
                
                div(class="personal-info__data")
                    ul(class="personal-info__list")
                        li(class="personal-info__option")
                            span(class="persoanl-info__title") Nacimiento
                            span(class="personal-info__value") 14/04/2004
                        
                        li(class="personal-info__option")
                            span(class="persoanl-info__title") Edad
                            span(class="personal-info__value") 19
                        
                        li(class="personal-info__option")
                            span(class="persoanl-info__title") Nombre
                            span(class="personal-info__value") Thiago
                        
                        li(class="personal-info__option")
                            span(class="persoanl-info__title") Sexo
                            span(class="personal-info__value") Masculino
                        
                        li(class="personal-info__option")
                            span(class="persoanl-info__title") País
                            span(class="personal-info__value") Argentina
                        
                        li(class="personal-info__option")
                            span(class="persoanl-info__title") Direccion
                            span(class="personal-info__value") Moreno, Buenos Aires, Argentina
                    
                        li(class="personal-info__option")
                            span(class="persoanl-info__title") Correo
                            span(class="personal-info__value correo") gabytula08@gmail.com
                        
                        li(class="personal-info__option")
                            span(class="persoanl-info__title") Telefono
                            span(class="personal-info__value") 1164752534
                        
                    
                
        

            section(class="about__services")
                header(class="services__header")
                    h2(class="services__title") Lo que 
                        span(class="title__color") hago
            

                div(class="services__container")
                    article(class="services__service")
                        div(class="service__icon")
                            i(class="fa-solid fa-code")
                        
                        div(class="service__content")
                            h3(class="service__title") Intereses
                            p(class="service__description") Continúo mi trayectoria de aprendizaje, explorando nuevas tecnologías como TypeScript, Vue.js y Angular, mientras profundizo mis conocimientos en React native. Estoy comprometido con el desarrollo continuo y la maestría de estos lenguajes y frameworks, buscando oportunidades para aplicarlos en proyectos desafiantes y seguir evolucionando como desarrollador.</p>
                        
                    

                    article(class="services__service")
                        div(class="service__icon")
                            i(class="fa-solid fa-chalkboard-user")
                        
                        div(class="service__content")
                            h3(class="service__title") Formación
                            p(class="service__description") Inicie la primaria en el Instituto Doctor Gines de la Quintana hasta el 2016, terminé la secundaria en la escuela San Francisco de Asis en el año 2022. En el año 2023 comencé de manera autodidacta a estudiar y formarme en el desarrollo de software en cursos como Udemy y Domestika. Actualmente sigo capacitandome y estoy indroduciendome en frameworks como React native.</p>
                        
                    

                    article(class="services__service")
                        div(class="service__icon")
                            i(class="fa-solid fa-laptop")
                    
                        div(class="service__content")
                            h3(class="service__title") Desarrollo web
                            p(class="service__description") Cuento con conocimientos avanzados del lado del cliente como HTML5, CSS3, Tailwind.css, Bootstrap, JavaScript y React. Manejo de bases de datos relacionales y no relacionales. Uso de layout responsive, Menu hamburguesa, paginas web adaptables, utilización de svg y figma para el diseño y, Bootstrap y tailwind css en proyectos.</p>
                        
                    

                    article(class="services__service")
                        div(class="service__icon")
                            i(class="fa-solid fa-terminal")
                        
                        div(class="service__content")
                            h3(class="service__title") Conocimientos en Bases de Datos
                            p(class="service__description") Tengo conocimientos solidos en bases de datos como MySQL y MongoDB utilizando nodeJs y Express.js y sus respectivos ORM como Sequelize y Mongoose. Tambien he creado y consumido Apis REST que se podran encontrar en la parte del portafolio.</p>
                        
                    
            
            

            section(class="about__extra")
                header(class="extra__header")
                    h2(class="extra__title") Informacion
                        span(class="title__color") Extra
                

                div(class="extra__container")
                    div(class="extra__pointer")
                        div(class="pointer__background")
                    
                    div(class="extra__text") Resolución creativa de problemas y capacidad para aprender rápidamente nuevas tecnologías.

                    div(class="extra__pointer")
                        div(class="pointer__background")
                    
                    div(class="extra__text") Contribuyo a proyectos de código abierto.

                    div(class="extra__pointer")
                        div(class="pointer__background")
                
                    div(class="extra__text") Disponibilidad Full-time.

                    div(class="extra__pointer")
                        div(class="pointer__background")
                    
                    div(class="extra__text") Ingles básico.
            
        
    

       

